# Copy this to _config.yml and adjust accordingly.

# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: https://sendgrid.com/docs
title: SendGrid Documentation | SendGrid
author: SendGrid
description: SendGrid Documentation

date_format: "ordinal"

# RSS / Email (optional) subscription links (change if using something like Feedburner)
subscribe_rss: /atom.xml

# ----------------------- #
#    Jekyll & Plugins     #
# ----------------------- #

# If publishing to a subdirectory as in http://site.com/project set 'root: /project'
root: /
permalink: /blog/:year/:month/:day/:title/
source: source
destination: public
css_destination: stylesheets
js_destination: javascripts
plugins: plugins
markdown: rdiscount
highlighter: pygments # default python pygments have been replaced by pygments.rb

titlecase: true       # Converts page and post titles to titlecase

navigation:	#creates a default for showing navigation unless otherwise overridden in individual file's frontmatter
  show: true

# list each of the sidebar modules you want to include, in the order you want them to appear.
# To add custom asides, create files in /source/_includes/custom/asides/ and add them to the list like 'custom/asides/custom_aside_name.html'
default_asides: [asides/page_navigation.html]

asset_pipeline:
  bundle: true            # Default = true
  compress: true          # Default = true
  output_path: assets     # Default = assets
  display_path: assets    # Default = nil
  gzip: false             # Default = false

# ----------------------- #
#   3rd Party Settings    #
# ----------------------- #

# indextank settings
#set this to true if you want to build the index
indextank_api_url: http://:example@example.api.indexden.com #get an index URL at indexden.com
indextank_index:  docs #set this to the index name you set on indexden.com

# these values are applied as regular expressions 
# indextank_excludes: [index.html, 404.html, ^/secret/]

#pages we link to from many places, change it once here. Must be added to content as {{root_url}}{{site.thisVariable}} in links
password_requirements: "/Classroom/Basics/password.html"