.dropdown {
  position: relative;
  cursor: pointer;

  &.has-icon,
  &.btn-with-icon,
  &.has-badge {
    padding-right: 30px;
  }

  &.is-active .dropdown-menu {
    top: 100%;
    z-index: $dropdown-menu-z-index;
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-menu {
  @include dropdown-shadow;
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block; // only needed to override client css
  min-width: 180px;
  padding: 10px 0;
  margin: 1px -1px;
  overflow: hidden;
  cursor: default;
  background: $slate-02;
  border: 1px solid $slate-10;
  border-radius: $border-radius;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s, opacity 0.3s;
}

// used by tiara in the account menu and switch subuser banner
.dropdown-menu-account {
  width: 175px;
  margin-right: 2px;
  margin-left: 2px;
}

.dropdown-menu-right-aligned {
  right: 0;
  left: inherit;
}

.dropdown-link {
  display: block;
  padding: 10px 18px 7px;
  font-size: 13px;
  line-height: 18px;
  color: $slate-80;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: $slate;
    background: $slate-10;
  }

  .sg-icon {
    margin-right: 12px;
  }
}

.dropdown-text {
  display: block;
  padding: 10px 30px 7px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
}

.dropdown-item {
  margin: 5px 25px;
}

.dropdown-input {
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
}
