.switch {
  position: relative;
  display: inline-block;
  font-size: 10px;
  background: $white;
  border: 1px solid $slate-20;
  border-radius: $border-radius;
  user-select: none;

  &.is-disabled,
  &.is-switch-disabled {
    .switch-selector {
      background: $steel;
    }

    .switch-label {
      cursor: default;
    }
  }
}

.switch-checkbox {
  display: none;
}

.switch-label {
  position: relative;
  z-index: $switch-option-z-index;
  font-size: 0;
  cursor: pointer;
}

.switch-option {
  position: relative;
  z-index: $switch-option-z-index;
  display: inline-block;
  width: 29px;
  height: 28px;
  font-size: 10px;
  line-height: 30px;
  color: $slate-60;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s;
}

.switch-option-off {
  color: $white;
}

.switch-selector {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: $switch-selector-z-index;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $sg-blue;
  border-radius: $border-radius;
  transition: left 0.25s;
}

.switch-checkbox:checked {
  ~ .switch-selector {
    left: 30px;
  }

  ~ .switch-label {
    .switch-option-off {
      color: $slate-60;
    }

    .switch-option-on {
      color: $white;
    }
  }
}
