// Top Header
#header-top {
  height: 28px;
  border-bottom: 1px solid #000;
  background-color: rgb(30,36,47);
  padding-right:30px;
}

#header-top a {
  color: white;
}

#header-top .login-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
}

#header-top .login-link a {
  position: relative;
  top: 2px;
  right: -5px;
}

// Main Header
#nav {
  // ul {
  //   list-style-type: none;
  //   .nav-link {
  //     height: 74px;
  //     a {
  //       padding: 29px 10px 25px 10px;
  //       line-height: 14px;
  //       text-transform: uppercase;
  //       font-size: 13px;
  //     }
  //   }
  // }

  .nav > li > a {
      text-shadow: none;
  }

  .btn-navbar {
      color: #000000;
      padding: 1px 10px;
  }

  .navbar {
    border-radius: 0;
  }

  .btn {
    margin-top: 17px;
    margin-right: 7px;
  }
}