#sidebar-header {
  background-color: @gray-light;
  color: @brand-primary;
  padding: 0px 24px;
}

#sidebar-header h3 {
  display: inline-block;
  margin-top: 20px;
}

#sidebar {
  max-height: none;
}