@import '../scss/global/variables';
@import '../scss/global/mixins';

.group-links a {
  display: block;
  margin-bottom: $scale-0;
}

.category-container .page-title {
  text-transform: capitalize;
}