@import '../scss/global/variables';
@import '../scss/global/mixins';

$aside-width: 300px;

.doc-wrap {
  display: flex;

  @media (max-width: $width-medium) {
    flex-direction: column;
  }
}

.release-notes {
  h2, h3 {
    margin-left: -25px;
    display: flex;
  }
}

.doc-main {
  flex: 1;
  overflow: hidden;
  padding: 0 $scaleup-8 $scaleup-6;

  @media (max-width: $width-medium) {
    padding: 0 0 $scaleup-6;
  }

  h2, h3 {
    margin-left: -25px;
    display: flex;
  }

  ol, ul {
    margin: $scaleup-1 0 $scaleup-1 $scaleup-1;

    li {
      list-style: decimal;
      font-size: $scale-0;
      line-height: 27px;
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  li > ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.doc-main ul {
  list-style-type: disc;
  margin-bottom: $scaleup-3;
}

.doc-main ol {
  list-style-type: decimal;
  margin-bottom: $scaleup-3;
}

.aside-nav {
  padding-top: $scaledown-2;
  padding-bottom: $scaledown-2;
  position: sticky;
  align-self: flex-start;
  flex: 0 0 300px;
  top: 0;

  @media (max-width: $width-medium) {
    position: relative;
  }
}

.aside-nav a {
  display: block;
  margin-bottom: $scale-0;
  padding-left: 0;
  padding-top: 2px;
  line-height: $scaleup-1;
  font-size: 14px;

  @include colfax(600);
}

.aside-nav .h3 {
  margin-left: $scaleup-2;
  font-size: 13px;
  color: $slate-80;

  @include colfax(400);

  &.active {
    @include colfax(600);
  }
}

.aside-nav__title {
  color: $slate-40;
  margin-bottom: $scale-0;
  text-transform: uppercase;
  font-size: 13px;

  @include colfax(600);
}

aside a.active {
  border-left: 3px solid $sg-blue;
  padding-left: 5px;
  color: $slate-80;
  @include colfax(600);
}

// custom Markdown components
.callout {
  padding: $scaleup-4;
  margin: $scaleup-4 0;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: $scaleup-1;
    left: $scaleup-4;
    text-transform: uppercase;
    @include colfax(600);
    font-size: $scaledown-1;
    letter-spacing: 0.7px;
  }
}

.callout > p {
  margin: $scaledown-3 0;
}

.callout--info {
  background: $sg-blue-05;
  border-left: 2px solid $sg-blue;

  &::before {
    content: 'Tip';
    color: $sg-blue;
  }
}

.callout--warning {
  background: rgba(183, 28, 28, 0.05);
  border-left: 2px solid $alert-danger-text;

  &::before {
    content: 'Alert';
    color: $alert-danger-text;
  }
}

.tabbed-code {
  margin-bottom: $scaleup-6;

  ul {
    margin-left: 0;
    list-style: none;

    li {
      font-size: 13px;
    }
  }
}

.tabbed-code__block {
  display: none;
}

.tabbed-code__block.show {
  display: block;
}

.tabbed-code .tab {
  flex: 1;
}

.gatsby-resp-iframe-wrapper, .table-wrap {
  margin: $scaleup-2 0;
}

.anchor {
  svg {
    margin-right: $scaledown-3;
    path {
      fill: $slate-20;
    }
  }

  &:hover {
    svg {
      path {
        fill: $sg-blue;
      }
    }
  }
}

.gatsby-highlight {
  margin: $scaleup-2 0;
}

.edit-this-page {
  font-size: $scaledown-1;
}
