
<div class="col-md-3 col-sm-3 nopadding">
    <div id="sidebar-header" class="visible-xs navbar-header col-md-3">
      <h3>Menu</h3>

      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#sidebar">
        <span class="sr-only">Toggle Documentation Tree</span>
        <span class="icon-arrow-down"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nopadding" id="sidebar">
      
      <form class="navbar-search">
        <div class="input-group">
	  <input type="text" id="query" class="form-control search-query" name="q" placeholder="Search Documentation">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              <span class="fa-search fa"></span>
            </button>
          </span>
        </div>
      </form>

	  <nav itemscope itemtype="http://schema.org/SiteNavigationElement">{% navigation %}</nav>
    </div>
</div>
