
<div class="col-md-3 col-sm-3 nopadding">
    <div id="sidebar-header" class="visible-sm navbar-header col-md-3 sidenav-toggle" data-toggle="collapse"
        data-target="#sidebar">
      <h3>Menu</h3>
      <span class="sr-only">Toggle Documentation Tree</span>
      <span class="icon-arrow-down"></span>
    </div>

    <div class="collapse navbar-collapse nopadding" id="sidebar">

      <form class="navbar-search">
        <div class="input-group">
          <input type="text" id="query" class="form-control search-query" name="q" placeholder="Search Documentation">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              <span class="icon-search"></span>
            </button>
          </span>
        </div>
      </form>

	  <nav itemscope itemtype="http://schema.org/SiteNavigationElement">{% navigation %}</nav>
    </div>
</div>
