<div id="sidebar" class="col-md-3 col-sm-3 hidden-sm" data-swiftype-index='false'>
    <div id="sidebar-wrapper">
      <form class="navbar-search">
        <div class="input-group">
          <label class="floating-label" for "query">
            Search Docs
          </label>
          <input type="text" id="query" class="form-control search-query st-default-search-input" name="q">
          <button class="input-btn">
            <span class="icon-search"></span>
          </button>
        </div>
      </form>

	  <nav itemscope itemtype="http://schema.org/SiteNavigationElement">{% navigation %}
	    <ul id="nav-menu" class="nav nav-list">
    		<li class="active"><a href="//sendgrid.com/docs/Release_Notes/release_notes.html">Release Notes</a></li>
            </ul>
	    </nav>
  </div>
</div>
