@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter:before, .icon-facebook:before, .icon-rss:before, .icon-linkedin:before, .icon-google-plus:before, .icon-link:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e001";
}
.icon-facebook:before {
	content: "\e003";
}
.icon-rss:before {
	content: "\e004";
}
.icon-linkedin:before {
	content: "\e002";
}
.icon-google-plus:before {
	content: "\e000";
}
.icon-link:before {
	content: "\e005";
}

