@media print
{
  #content aside { width:0; padding:0; margin:0; display:none; }
  #header { display: none }
  #footer { display: none }
  #content {
    padding-top: 10;
    overflow: auto;
    padding-bottom: 0;
  }
  textarea { display: none; }

  .pull-right.download { display: none; }

  .code-buttons { display: none; }
  .nav-tabs { display: none; }
  .tab-content { background: none; }
  .tab-content > .tab-pane { display: block; }

  .code { -webkit-margin-start: 0; -webkit-margin-end: 0; font-size:11px; }
  .highlight code { background: red; background-image:none; }
  .gutter { display:none }
  .line { font-size:10px }

  table, h1, h2, blockquote { clear:both; page-break-inside:avoid; }
  table * { clear:both; page-break-after:avoid; page-break-before:avoid; }
}
