.icon-1 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat 0px 0px;
	width: 63px;
	height: 63px;
}

.icon-2 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -63px 0px;
	width: 63px;
	height: 63px;
}

.icon-3 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -126px 0px;
	width: 63px;
	height: 63px;
}

.icon-4 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -189px 0px;
	width: 63px;
	height: 63px;
}

.icon-5 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -252px 0px;
	width: 63px;
	height: 63px;
}

.icon-6 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -315px 0px;
	width: 63px;
	height: 63px;
}

.icon-7 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -378px 0px;
	width: 63px;
	height: 63px;
}

--

.icon-8 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat 0px 0px;
	width: 63px;
	height: 63px;
}

.icon-9 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -63px -63px;
	width: 63px;
	height: 63px;
}

.icon-10 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -126px -63px;
	width: 63px;
	height: 63px;
}

.icon-11 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -189px -63px;
	width: 63px;
	height: 63px;
}

.icon-12 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -252px -63px;
	width: 63px;
	height: 63px;
}

.icon-13 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -315px -63px;
	width: 63px;
	height: 63px;
}

.icon-14 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -378px -63px;
	width: 63px;
	height: 63px;
}

.icon-15 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat 0px -126px;
	width: 63px;
	height: 63px;
}

.icon-16 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -63px -126px;
	width: 63px;
	height: 63px;
}

.icon-17 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -126px -126px;
	width: 63px;
	height: 63px;
}

.icon-18 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -189px -126px;
	width: 63px;
	height: 63px;
}

.icon-19 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -252px -126px;
	width: 63px;
	height: 63px;
}

.icon-20 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -315px -126px;
	width: 63px;
	height: 63px;
}

.icon-21 {
	background: url('/images/docs_icon_sprites.png?embed=true') no-repeat -378px -126px;
	width: 63px;
	height: 63px;
}


.framework-icon {
    background: url('/images/framework_icon_sprites.png?embed=true') no-repeat top left;
	display:block;
}

.framework-iconapple-mail { background-position: 0 0; width: 72px; height: 72px; } 
.framework-iconcake{ background-position: 0 -122px; width: 72px; height: 72px; } 
.framework-iconcodeigniter{ background-position: 0 -244px; width: 72px; height: 72px; } 
.framework-icondjango{ background-position: 0 -366px; width: 72px; height: 72px; } 
.framework-icondrupal{ background-position: 0 -488px; width: 72px; height: 72px; } 
.framework-iconexim{ background-position: 0 -610px; width: 72px; height: 72px; } 
.framework-icongmail{ background-position: 0 -732px; width: 72px; height: 72px; } 
.framework-iconjava{ background-position: 0 -854px; width: 72px; height: 72px; } 
.framework-iconjoomla{ background-position: 0 -976px; width: 72px; height: 72px; } 
.framework-iconmagento{ background-position: 0 -1098px; width: 72px; height: 72px; } 
.framework-iconmicrosoft{ background-position: 0 -1220px; width: 72px; height: 72px; } 
.framework-iconms-net{ background-position: 0 -1342px; width: 72px; height: 72px; } 
.framework-iconnodejs{ background-position: 0 -1464px; width: 72px; height: 72px; } 
.framework-iconoutlook{ background-position: 0 -1586px; width: 72px; height: 72px; } 
.framework-iconperl{ background-position: 0 -1708px; width: 72px; height: 72px; } 
.framework-iconphp{ background-position: 0 -1830px; width: 72px; height: 72px; } 
.framework-iconpostfix{ background-position: -122px 0; width: 72px; height: 72px; } 
.framework-iconpython{ background-position: -122px -122px; width: 72px; height: 72px; } 
.framework-iconqmail{ background-position: -122px -244px; width: 72px; height: 72px; } 
.framework-iconror{ background-position: -122px -366px; width: 72px; height: 72px; } 
.framework-iconruby{ background-position: -122px -488px; width: 72px; height: 72px; } 
.framework-iconsendmail{ background-position: -122px -610px; width: 72px; height: 72px; } 
.framework-iconssmtp{ background-position: -122px -732px; width: 72px; height: 72px; } 
.framework-iconsymfony{ background-position: -122px -854px; width: 72px; height: 72px; } 
.framework-iconthunderbird{ background-position: -122px -976px; width: 72px; height: 72px; } 
.framework-iconwordpress{ background-position: -122px -1098px; width: 72px; height: 72px; } 
.framework-iconios{ background-position: -122px -1220px; width: 72px; height: 72px; }

.social-media-icon {
    background: url('/images/social-media-sprites.png?embed=true') no-repeat top left;
	display:inline-block;
}

.sprite-facebook{ background-position: 0 0; width: 35px; height: 32px; } 
.sprite-rss{ background-position: 0 -82px; width: 32px; height: 32px; } 
.sprite-twitter{ background-position: 0 -164px; width: 32px; height: 32px; } 