{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
{% capture body_classes %}{% if page.sidebar == false %}no-sidebar{% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}collapse-sidebar sidebar-footer{% endif %} logged-out{% endcapture %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="{{ body_classes }}">

  {% include header.html %}
  <div class="container-fluid">
    <div class="row" id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  {% if page.footer != false %}
	{% include footer.html %}
  {% endif %}
</body>
</html>
