---
layout: default
---

{% unless page.sidebar == false %}
    {% include_array default_asides %}
{% endunless %}

{% if page.sidebar == false %}
<div class="col-sm-10 col-md-offset-1 col-sm-12 content-wrapper">
  <article role="article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
{% else %}
<div class="col-sm-9 col-sm-12 content-wrapper">
  <article role="article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
{% endif %}
    {% unless page.breadcrumbs == false %}
      <section>{% breadcrumbs %}</section>
    {% endunless %}
    {% if page.title and page.showTitle != false %}
    <header class="page-header">
      <h1 class="entry-title" itemprop="name">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    {% endif %}

    <div class="content">
      {% if page.url contains "/Marketing_Campaigns/" %}
        <div class="callout callout-info">
          <p>
            Migrating from the Legacy Newsletter? <a href="{{root_url}}/User_Guide/Legacy_Features/Marketing_Emails/Legacy_Newsletter_Migration/index.html">Here</a> are some valuable resources to help get you started.
          </p>
        </div>
      {% endif %}

      {% if page.url contains "/Legacy_Features/Marketing_Emails/" %}
        {% if page.url contains ""/Legacy_Features/Marketing_Emails/Legacy_Newsletter_Migration/" %}
        {% else %}
          <div class="callout callout-warning">
            <p>
              <strong>Please note: Legacy Newsletter will be sunset in November of 2017.</strong> For more information about this transition and a list of resources to help you migrate to Marketing Campaigns, please <a href="{{root_url}}/User_Guide/Legacy_Features/Marketing_Emails/Legacy_Newsletter_Migration/index.html">click here</a>.
            </p>
          </div>
        {% endif %}
      {% endif %}

      {{ content }}

    </div>

    {% if page.last_modified %}
      <meta itemprop="lastReviewed" content="{{ page.last_modified }}">
    {% endif %}
    {% if page.hideFeedback != true %}
      {% include feedback.html %}
    {% endif %}
  </article>
</div>
{% include livedocs_modal.html %}

<meta itemprop="specialty" content="email">
<meta itemprop="interactivityType" content="mixed">
</div>
