---
layout: default
---

{% unless page.sidebar == false %}
<aside class="sidebar-nav span4">
    {% include_array default_asides %}
</aside>
{% endunless %}

{% if page.sidebar == false %}
  {% unless page.breadcrumbs == false %}
    <section class="span12">{% breadcrumbs %}</section>
  {% endunless %}
<article role="article" class="span12">
{% else %}
  {% unless page.breadcrumbs == false %}
    <section class="span8">{% breadcrumbs %}</section>
  {% endunless %}
<article role="article" class="span8">
{% endif %}
    {% if page.title and page.showTitle != false %}
  <header class="page-header">
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}
  {{ content | pretty_print }}
</article>

