<div id="footer">
	<div class="container-fluid footer-links">
	<div class="container">
		<div class="row">
			<div class="span2">
				<h4>Sales</h4>
				<a href="http://sendgrid.com/pricing/">Pricing</a><br/>
				<a href="http://sendgrid.com/features/">Features</a>
			</div>
			<div class="span2">
				<h4>Support</h4>
				<a href="http://support.sendgrid.com/">Contact Support</a><br/>
				<a href="/">Documentation</a><br/>
				<a href="http://sendgrid.com/contact/reportSpam">Report Spam</a>
			</div>
			<div class="span2">
				<h4>Community</h4>
				<a href="http://twitter.com/sendgrid/">Twitter</a><br/>
				<a href="http://community.sendgrid.com/">Forum</a>
			</div>
			<div class="span2">
				<h4>Company</h4>
				<a href="http://http://sendgrid.com/about.html">About</a><br/>
				<a href="http://sendgrid.com/team.html">Our Team</a><br/>
				<a href="http://sendgrid.com/jobs.html">Jobs</a><br/>
				<a href="http://sendgrid.com/press.html">Press</a><br/>
				<a href="http://sendgrid.com/contact.html">Contact Us</a>
			</div>
			<div class="span2">
				<h4>Connect With Us!</h4>
				<a href="http://blog.sendgrid.com/feed/"><img alt="RSS" title="Feed" src="/images/rss.gif"></a> 
		          <a href="http://twitter.com/SendGrid"><img alt="Twitter" title="Twitter" src="/images/twitter.gif"></a> 
		          <a href="http://www.facebook.com/SendGrid"><img alt="Facebook" title="Facebook" src="/images/facebook.gif"></a>

			</div>
		</div>
	</div>
	</div>

	<footer id="bottom-footer">
	<div class="container">
		<div class="row">
			<div class="span5">
	        	<p>&copy; SendGrid {{ site.time | date: "%Y" }}</p>
			</div>

			<div class="span7">
				<a href="http://sendgrid.com/tos.html">Terms of Service</a>

				<a href="http://sendgrid.com/tos.html">Email Policy</a>

				<a href="http://sendgrid.com/tos.html">Privacy Policy</a>

				<p class="pull-right"><a href="#">Back to top</a></p>
			</div>
		</div>
	</div> <!-- /container -->
	</footer>
</div>