.iframe-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;

  iframe {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: block;
  }
}

.container-stoplight {
  position: absolute;
  width: 100%;
  overflow: scroll;
  height: 100%;
  max-width: 1600px;
}
