@import '../scss/global/variables';
@import '../scss/global/mixins';
$card-gutter: 40px;

.docs-home {
  overflow: hidden;
}

.page-title {
  font-size: $scaleup-5;
  line-height: 1.2;
  margin-bottom: $scaledown-6;

  @include colfax(600);
}

.search-hero {
  background: $sg-blue-20;
  background: $gradient-hero;
}

.search-hero__bg {
  padding: $scaleup-6 0 13rem 0;
  background: url('../img/help-center-hero.svg') no-repeat;
  background-position: bottom center;

  @media (max-width: $width-small) {
    background-size: contain;
    padding-bottom: $scaleup-10;
  }

  @media (max-width: $width-small-mobile) {
    padding-bottom: $scaleup-8;
  }
}

// Override SendGrid search input styles for the hero search
.search-hero .input-text-wrap .search-hero__query {
  background-color: #fff;
  padding: $scaleup-1 $scaleup-2 $scaleup-1 $scaleup-7;
  font-size: $scaleup-1;
  box-sizing: border-box;
  color: $slate;
  border: 0;
  box-shadow: 0 5px 8px 0 rgba(118, 180, 238, 0.1);

  &:hover, &:focus {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }

  @media (max-width: $width-mobile) {
    font-size: $scale-0;
  }
}

.search-hero .input-text-wrap.is-search::after {
  color: $sg-blue;
  font-size: $scaleup-2;
  top: 37px;
  left: 20px;
  right: initial;
}

.home-callout__badge {
  margin-bottom: $scale-0;
  text-transform: uppercase;
  font-size: $scaledown-1;

  @include colfax(600);
}

.callout--marketing .home-callout__badge {
  color: $seafoam;
}

.callout--development .home-callout__badge {
  color: $mantis;
}

.card--no-pad {
  padding: 0 0 0 0;
}

.card--home {
  margin-bottom: $card-gutter;

  .card-icon {
    max-width: 40px;
    margin: 0 auto 20px;
  }

  .card__title {
    margin-bottom: $scaleup-4;
  }

  .btn {
    margin-top: $scaleup-1;
  }
}

.card__title {
  display: block;
  width: 100%;
}

.card--glossary {
  .card__title {
    margin-bottom: $scaleup-2;
  }
}

.row--home-cards {
  grid-column-gap: $card-gutter;

  @media (max-width: $width-mobile) {
    grid-column-gap: 2%;
  }
}

.home-featured {
  padding-top: $scaleup-1;
  position: relative;

  h2 {
    font-size: $scaleup-3;
    margin-bottom: $scaleup-4;
    text-align: center;
    position: relative;
    color: #fff;
  }
}

.home-featured::before {
  background: $seafoam;
  background: $gradient-home-featured;
  content: "";
  height: 100%;
  left: -25%;
  position: absolute;
  top: 4rem;
  transform: rotate(-5deg);
  transform-origin: left top;
  width: 150%;
  z-index: 0;

  @media (max-width: $width-medium) {
    transform: rotate(-2deg);
    top: 0;
  }
}

.home-callouts {
  display: block;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.home-callout {
  padding: $scaleup-4 $scaleup-3 $scaleup-7;
  display: block;

  .btn {
    height: 40px;
    widows: 132px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -66px;
  }
}
