@import '../scss/global/variables';
@import '../scss/global/mixins';
$card-gutter: 30px;

.docs-home {
  overflow: hidden;
}

.page-title {
  font-size: $scaleup-5;
  line-height: 1.2;
  margin-bottom: $scaledown-6;
  margin-top: $scaleup-2;

  @include colfax(600);
}

.search-hero {
  background: $sg-blue-20;
}

.search-hero__bg {
  padding: $scaleup-4 0 13rem 0;
  background: url('../img/help-center-hero.svg') no-repeat;
  background-position: bottom center;
}

// Override SendGrid search input styles for the hero search
.search-hero .input-text-wrap .search-hero__query {
  background-color: #fff;
  padding: $scaleup-2 $scaleup-2 $scaleup-2 $scaleup-7;
  font-size: $scaleup-1;
  box-sizing: border-box;
}

.search-hero .input-text-wrap.is-search::after {
  color: $sg-blue;
  font-size: $scaleup-2;
  top: 40px;
  left: 20px;
  right: initial;
}

.home-callout__badge {
  margin-bottom: $scaleup-1;
  text-transform: uppercase;
  font-size: $scaledown-1;

  @include colfax(600);
}

.callout--marketing .home-callout__badge {
  color: #62ffae;
}

.callout--development .home-callout__badge {
  color: $seafoam;
}

.card--no-pad {
  padding: 0 0 0 0;
}

.card--home {
  margin-bottom: $card-gutter;
}

.card__title {
  display: block;
  width: 100%;
}

.row--home-cards {
  grid-column-gap: $card-gutter;
}

.home-featured {
  padding-top: $scaleup-1;
  position: relative;

  h2 {
    text-align: center;
    position: relative;
    color: #fff;
  }
}

.home-featured::before {
  background: $seafoam;
  background: linear-gradient(to bottom right, #62ffae, $seafoam);
  content: "";
  height: 105%;
  left: -25%;
  position: absolute;
  top: 4rem;
  transform: rotate(-5deg);
  transform-origin: left top;
  width: 150%;
  z-index: 0;
}

.home-callouts {
  display: block;
  margin-top: -30px;
  position: relative;
  z-index: 2;

  // increase gutter for callouts
  .row {
    grid-column-gap: 3%;
  }
}

.home-callout {
  padding: $scaleup-4 $scaleup-3 $scaleup-7;

  .btn {
    height: 40px;
    widows: 132px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -66px;
  }
}

.home-glossary {
  margin: $scaleup-5 0;
  z-index: 2;

  h2 {
    position: relative;
    text-align: center;
  }
}

.home-glossary__container {
  padding-left: $scaleup-10;
  padding-right: $scaleup-10;
}

.glossary-link {
  display: block;
  width: 100%;
  margin-bottom: $scaleup-1;
}

.glossary-icon {
  margin-left: $scaleup-1;
}
