---
title: Template Engine Overview
seo:
  title: Template Engine Overview
weight: 0
layout: page
navigation:
  show: true
---

<img src="{{root_url}}/images/template_engine_1.png" class="img-responsive center-block"/>

The SendGrid <a href="https://sendgrid.com/templates">Template Engine</a> gives you unmatched simplicity, flexibility, and control in the management of your email content and design. Get your templates out of your app and instead let your app leverage our Template Engine!

{% info %}
There is currently a limit of 300 templates and 300 versions that may be created per account.
{% endinfo %}

Templates created in Template Engine are account and subuser specific. Templates created on a parent account will not be accessible from the subuser accounts.


<div class="row">
  <div class="col-md-6">
    <h3>
      <a href="https://sendgrid.com/docs/User_Guide/Templates/creating_templates.html">Create and Edit Your Templates</a>
    </h3>

     Templates and versions work together to allow you to easily and quickly iterate. Each version can have its own unique name, content, and subject. Template Engine allows you to insert and edit HTML and inline CSS visually or with a code editor, and supports plain-text content as well.

  </div>
  <div class="col-md-6">
    <img src="{{root_url}}/images/template_engine_9.png" class="img-responsive pull-left"/>
  </div>
</div>


<div class="row">
  <div class="clearfix col-md-6">
    <img src="{{root_url}}/images/template_engine_2.png" class="img-responsive"/>
  </div>
  <div class="col-md-6">
    <h3>
      <a href="https://sendgrid.com/docs/User_Guide/Templates/managing_templates.html">Manage Your Templates</a>
    </h3>

    Update, add versions, and manage your templates in an easy to use interface. Keep your most recent template versions
    active and work on your new versions until they’re ready.
  </div>
</div>



<div class="row">
  <div class="clearfix col-md-6">
    <h3>
      <a href="https://sendgrid.com/docs/API_Reference/Web_API_v3/Template_Engine/index.html">Integrate With Your App</a>
    </h3>

    Talk to your development team about integrating your new template(s) with your application. They can read more about
    how to integrate templates by checking out our <a href="{{root_url}}/API_Reference/Web_API_v3/Template_Engine/index.html">Template Engine Web API Reference docs</a>
    and our <a href="{{root_url}}/API_Reference/SMTP_API/apps.html#templates">SMTP API docs</a>.
  </div>
  <div class="col-md-6">
    <img src="{{root_url}}/images/template_engine_3.png" class="img-responsive pull-left"/>
  </div>
</div>

<br/>

<div class="clearfix text-center">

{% anchor h1 %}
  Start Now!
{% endanchor %}

Start using our Template Engine now by creating your first Template!
<a href="https://sendgrid.com/templates/new"><img src="{{root_url}}/images/template_engine_6.png" class="img-responsive center-block"/></a>
</div>
