// sass-lint:disable no-color-keywords, no-important
// linting disabled due to custom color names matching predefined colors

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

// color map for generating color and bg-color classes
$colors: (
  sg-blue:            $sg-blue,
  sg-blue-80:         $sg-blue-80,
  sg-blue-60:         $sg-blue-60,
  sg-blue-40:         $sg-blue-40,
  sg-blue-20:         $sg-blue-20,
  sg-blue-10:         $sg-blue-10,
  sg-blue-05:         $sg-blue-05,
  sg-blue-02:         $sg-blue-02,
  slate:              $slate,
  slate-80:           $slate-80,
  slate-60:           $slate-60,
  slate-40:           $slate-40,
  slate-20:           $slate-20,
  slate-10:           $slate-10,
  slate-05:           $slate-05,
  slate-02:           $slate-02,
  ron-burgundy:       $ron-burgundy,
  burnt-orange:       $burnt-orange,
  carrot:             $carrot,
  mango:              $mango,
  mantis:             $mantis,
  spruce:             $spruce,
  grass-stain:        $grass-stain,
  lime:               $lime,
  cobalt:             $cobalt,
  bluebird:           $bluebird,
  seafoam:            $seafoam,
  caribbean:          $caribbean,
  crown:              $crown,
  screample:          $screample,
  sangria:            $sangria,
  lavender:         $lavender,
  wild-strawberry:    $wild-strawberry,
  steel:              $steel,
  logo-accent-light:  $logo-accent-light,
  logo-accent-medium: $logo-accent-medium,
  logo-accent-dark:   $logo-accent-dark,
  white:            #fff
);

// Color
@each $name, $value in $colors {
  .color-#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .bg-color-#{$name} {
    background-color: $value;
  }
}

// alignment
.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.center {
  margin: 0 auto;
}

// display
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

// misc
.show-for-sr {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}