@import '../../scss/global/variables';

.footer {
  background: $slate;
  font-size: $scaledown-1;
  padding: $scaleup-1 0;

  a {
    color: $slate-20;

    &:hover {
      color: #fff;
    }
  }

  hr {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    height: 1px;
    background: $slate-40;
    border: 0;
    opacity: 0.1;
    margin: 0 auto 35px;
  }

  &__soc-legal {
    padding-bottom: $scaledown-6;
  }
}

.footer__divider {
  border-top: 1px solid $slate-80;
  width: 54px;
}

.footer-container {
  display: flex;
  padding: 20px;
}

.footer-col {
  flex: 1;
}

.footer__header {
  margin: $scaleup-2 0;
  text-transform: uppercase;
  letter-spacing: .85px;
  font-weight: 600;
  font-size: $scaledown-2;
}

.footer__link {
  display: block;
  color: #fff;
  margin: $scaleup-2 0;
}

.footer__link--pricing::after,
.footer__link--careers::after {
  content: 'Try for Free!';
  background: $sg-blue;
  padding: $scaledown-7 $scaledown-5;
  font-size: $scaledown-1;
  margin-left: $scaledown-3;
}

.footer__link--careers::after {
  content: "We're hiring!";
}

.footer__soc a {
  display: inline-block;
  margin-right: 15px;
}

.footer__copy {
  margin-left: $scaleup-3;
}

.footer__legal {
  text-align: right;
}

@media (max-width: 960px) {
  .footer-container {
    flex-flow: wrap;
  }

  .footer-col {
    flex: 0 0 50%;
  }
}

@media (max-width: 610px) {
  .footer-col {
    flex: 0 0 100%;
  }

  .footer__legal,
  .footer__soc-legal {
    text-align: center;
  }

  .footer__legal {
    margin-top: $scaledown-2;
  }
}
