@import '../../scss/global/mixins';

.input-text-wrap [type="text"] {
  border-radius: 0;
  height: initial;
}

.input-text-wrap .input-btn {
  display: none;
}

.input-text-wrap .search-hero__query {
  @include colfax(400);

  background-image: none;
}

.search-hero__bg #query:focus {
  border: none;
  box-shadow: none;
}
