<div class="feedback">
  <span class="prompt">Was this helpful?</span>
  <a class="feedback-element feedback-positive" href="#">
    <img src="{{root_url}}/images/encircled-plus.png" alt="+" />
    Yes
  </a>
  <a class="feedback-element feedback-negative" href="#">
    <img src="{{root_url}}/images/encircled-minus.png" alt="-" />
    No
  </a>
  <a class="feedback-element feedback-more" href="#">
    <img src="{{root_url}}/images/feedback.png" alt="" />
    Feedback
  </a><br /><hr />
  <div class="logged-out text-center feedback-cta">
    <a href="https://sendgrid.com/pricing?mc=SendGrid%20Documentation">SendGrid Pricing</a> | Try out SendGrid <a href="https://sendgrid.com/free?mc=SendGrid%20Documentation">for free</a>!
  </div>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Feedback</h3>
      </div>
      <div class="modal-body">
        <p>If you have a question that needs an answer, please try the <a href="https://community.sendgrid.com" target="_blank">community page</a> or <a href="https://sendgrid.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query={{ page.title | uri_escape }}&commit=Search" target="_blank">contact support</a>.</p>
        <p>Otherwise, please <a href="https://github.com/sendgrid/docs/issues/new?title={{ page.title | uri_escape }}&body={{ site.url | append: / |  append: page.url | uri_escape }}" target="_blank">open an issue</a> or <a class="" href="mailto:community@sendgrid.com?subject={{ "[docs-feedback] " | append: page.title | uri_escape }}&body=Hello!%0AI%20have%20some%20feedback%20regarding%20your%20documentation%3A%0A%0A%0A%0A{{ site.url | append: / |  append: page.url | uri_escape }}">drop us a line.</a></p>
        <p>Thanks for helping us improve the docs!</p>
      </div>
    </div>
  </div>
</div>
