<div class="feedback">
  <p class="small">Was this helpful?</p>
  <a class="feedback-element feedback-positive" href="#">
    <img src="{{root_url}}/images/helpful-yes-icon.svg" alt="+" />
    <p class="small">Yes</p>
  </a>
  <a class="feedback-element feedback-negative" href="#">
    <img src="{{root_url}}/images/helpful-no-icon.svg" alt="-" />
    <p class="small">No</p>
  </a>
  <a class="feedback-element feedback-more" href="#">
    <img src="{{root_url}}/images/feedback-icon.svg" alt="" />
    <p class="small">Feedback</p>
  </a>
</div>

<div class="feedback-cta">
  <a href="https://sendgrid.com/pricing?mc=SendGrid%20Documentation" class="btn btn-small btn-secondary logged-out">SendGrid Pricing</a>
  <a href="https://sendgrid.com/free?mc=SendGrid%20Documentation" class="btn btn-small btn-secondary logged-out">Try SendGrid for Free</a>
  <a href="https://sendgrid.com/contact" class="btn btn-small btn-secondary">Contact Us</a>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Feedback</h3>
      </div>
      <div class="modal-body">
        <p>If you have a question that needs an answer, please <a href="https://sendgrid.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query={{ page.title | uri_escape }}&commit=Search" target="_blank">contact support</a>.</p>
        <p>Otherwise, please <a href="https://github.com/sendgrid/docs/issues/new?title={{ page.title | uri_escape }}&body={{ site.url | append: / |  append: page.url | uri_escape }}" target="_blank">open an issue in our github!</a></p>
        <p>Thanks for helping us improve the docs!</p>
      </div>
    </div>
  </div>
</div>
