<footer class="page-footer page-footer-short">

    <div class="container-fluid">
      <div class="row text-align-center">
        <small class="col-sm-12">
          <span class='footer-copyright'>©<script>document.write(new Date().getFullYear())</script> SendGrid</span>
          <span> / </span>
          <span><a href="http://sendgrid.com" id="footer-tos">Home</a></span>
          <span> / </span>
          <span><a href="/" id="footer-tos">Docs</a></span>
          <span> / </span>
          <span><a href="https://sendgrid.com/tos" id="footer-tos">Legal</a></span>
        </small>
      </div>
    </div>

</footer>
