<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ root_url }}/images/favicon.ico" rel="icon">

  <!--[if lt IE 8]>
    <link href="{{ root_url }}{% minified_css_file %}" media="screen, projection" rel="stylesheet" type="text/css">
  <![endif]-->

  <!--[if !IE]>-->
    <link href="{{ root_url }}{% minified_embedded_css_file %}" media="screen, projection, print" rel="stylesheet" type="text/css">
  <!--<![endif]-->

  {% unless page.responsive == false %}
  <link href="{{ root_url }}/stylesheets/bootstrap/responsive.css" media="screen, projection, print" rel="stylesheet" type="text/css">
  {% endunless %}
  {% if page.responsive == false %}
  <link href="{{ root_url }}/stylesheets/width1170.css" media="screen, projection, print" rel="stylesheet" type="text/css">
  {% endif %}
<script type="text/javascript">

 // Add a script element as a child of the body
 function downloadJSAtOnload() {
 var element = document.createElement("script");
 element.src = "{{ root_url }}{% minified_js_file %}";
 document.body.appendChild(element);
 }

 // Check for browser support of event handling capability
 if (window.addEventListener)
 window.addEventListener("load", downloadJSAtOnload, false);
 else if (window.attachEvent)
 window.attachEvent("onload", downloadJSAtOnload);
 else window.onload = downloadJSAtOnload;

</script>

  <link href="{{ root_url }}{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  {% include custom/head.html %}
  {% include google_analytics.html %}
</head>
