<div class="container" id="header-wrap">
	<div class="row" id="header">
		<div id="logo">
			<a href="http://sendgrid.com/blog"><img src="/images/sendgrid-logo.png"/></a>
		</div>
		{% if site.simple_search %}
		     <form class="pull-right navbar-search" action="{{ site.simple_search }}" method="get">
		       <fieldset role="search">
		         <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
		         <input class="search-query" type="text" name="q" results="0" placeholder="Search"/>
		       </fieldset>
		     </form>
		{% endif %}
	</div>
	{% include navigation.html %}
	
</div>
