<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- SendGrid Docs Version {{ site.data.version }} -->
<head>
<!-- Optimizely -->
<script src="//cdn.optimizely.com/js/72168671.js"></script>
<!-- End Optimizely -->

<!-- Segment.io magicness -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("1CjnBNPybWzyv10ssZRxdwmb8vrYF4yj");
  analytics.page();
  }}();
</script>
<!-- end Segment magicness -->

  <meta charset="utf-8">
  {% if page.seo.title and page.seo.override %}
    <title>{{ page.seo.title }}</title>
    <meta class='swiftype' name='title' data-type='string' content='{{ page.seo.title }}' />
  {% else %}
    {% capture title %}{% if page.seo.title %}{{ page.seo.title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  {% endif %}
  <meta name="author" content="{{ site.author }}">

  {% if page.seo.description %}
    <meta name="description" content="{{ page.seo.description }}">
    <meta class='swiftype' name='info' data-type='string' content='{{ page.seo.description }}' />
  {% else %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta class='swiftype' name='info' data-type='string' content='{{ page.description }}' />

    {% endif %}
  {% endif %}

  {% capture canonical %}{% if page.seo.canonical %}{{ page.seo.canonical }}{% else %}{{site.url}}{{page.url}}{% endif %}{% endcapture %}
  {% comment %} ## This is an easy way to check if the canonical url has a protocol – it's only displayed if it does.  ## {% endcomment %}
  {% capture canonicalprotocolfree %}{{ canonical | replace:'http','' }}{% endcapture %}
  {% if canonical and canonicalprotocolfree != canonical  %}
  <link rel="canonical" href="{{canonical}}"/>
  {% endif %}

  {% if page.seo.robots %}
    <meta name="robots" content="{{ page.seo.robots }}">
  {% endif %}

  {% if page.st.type %}
    <meta class='swiftype' name='type' data-type='enum' content='{{ page.st.type }}' />
  {% endif %}

  {% if page.st.info %}
  {% endif %}

  {% if page.st.publish_date %}
    <meta class='swiftype' name='published_at' data-type='date' content='{{ page.st.publish_date }}' />
  {% endif %}


  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="https://sendgrid.com/brand/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="https://sendgrid.com/brand/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://sendgrid.com/brand/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://sendgrid.com/brand/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://sendgrid.com/brand/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://sendgrid.com/brand/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://sendgrid.com/brand/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://sendgrid.com/brand/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://sendgrid.com/brand/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://sendgrid.com/brand/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://sendgrid.com/brand/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://sendgrid.com/brand/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://sendgrid.com/brand/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://sendgrid.com/brand/favicons/favicon-16x16.png">
  <link rel="manifest" href=" https://sendgrid.com/brand/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff"}
  <meta name="msapplication-TileImage" content="https://sendgrid.com/brand/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="{{root_url}}/{% css_asset_tag global %}
- /_assets/stylesheets/app.less
- /_assets/stylesheets/icomoon.less
- /_assets/stylesheets/images.less
- /_assets/bower_components/highlightjs/styles/default.css
{% endcss_asset_tag %}" rel="stylesheet" type='text/css' />

<!--  Use for development with gulp only -->
<!-- <link href="/assets/app.css" rel="stylesheet" type='text/css' /> -->

  <script type="text/javascript">

  filename = "{{root_url}}/{% javascript_asset_tag global %}
-  /_assets/bower_components/jquery/dist/jquery.min.js
-  /_assets/javascripts/fonts.js
-  /_assets/javascripts/collapse.min.js
-  /_assets/bower_components/jstorage/jstorage.min.js
-  /_assets/javascripts/menu.js
-  /_assets/javascripts/menu-icon.js
-  /_assets/javascripts/responsive-menu.js
-  /_assets/javascripts/analytics.js
-  /_assets/javascripts/codebuttons.js
-  /_assets/bower_components/modernizr/modernizr.js
-  /_assets/bower_components/bootstrap/dist/js/bootstrap.min.js
-  /_assets/javascripts/libs/ZeroClipboard.js
-  /_assets/javascripts/search.js
-  /_assets/javascripts/forms.js
-  /_assets/bower_components/jsrender/jsrender.js
-  /_assets/javascripts/feedback.js
-  /_assets/javascripts/octopress.js
-  /_assets/bower_components/highlightjs/highlight.pack.js
-  /_assets/bower_components/jquery-cookie/jquery.cookie.js
- /_assets/javascripts/tables.js
- /_assets/javascripts/iframe_docs.js
{% endjavascript_asset_tag %}"

  // filename = "{{root_url}}/assets/app.js"

   // Add a script element as a child of the body
   function downloadJSAtOnload() {
   var element = document.createElement("script");
   element.src = filename;
   document.body.appendChild(element);
   }

   // Check for browser support of event handling capability
   if (window.addEventListener)
   window.addEventListener("load", downloadJSAtOnload, false);
   else if (window.attachEvent)
   window.attachEvent("onload", downloadJSAtOnload);
   else window.onload = downloadJSAtOnload;

  </script>

  <link href="{{root_url}}{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300,300italic,600,600italic" id="opensans-css" media="screen" rel="stylesheet" type="text/css">

</head>
