<div class="container" id="header-wrap">
	<div class="row" id="header">
		<div id="logo">
			<a href="{{ root_url }}/index.html"><img src="{{ root_url }}/images/sendgrid-logo.png"/></a>
		</div>
		{% if site.simple_search %}
		  <form class="pull-right navbar-search" action="{{ site.simple_search }}" method="get">
			<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
			<input class="search-query span3"name="q" results="0" placeholder="Search"/a>
	      </form>
		{% endif %}
	</div>
	{% include navigation.html %}
</div>
