<div class="navbar navbar-static-top" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header col-md-3">
        <a href="//sendgrid.com"><span id="logo"></span></a>
        <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-list collapsed-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse col-sm-4" id="navbar">
        <ul class="nav navbar-nav" id="nav-links">
          <li class="nav-link {% if page.title == 'Docs Home' %} current-page-item {% endif %}">
            <a href="{{root_url}}/index.html">Docs Home</a>
          </li>
          <li class="nav-link {% if page.url contains 'User_Guide' %} current-page-item {% endif %}">
            <a href="{{root_url}}/User_Guide/index.html">User Guide</a>
          </li>
          <li class="nav-link">
            <a href="{{root_url}}/Utilities/code_workshop.html">Code Workshop</a>
          </li>
          <li class="nav-link {% if page.url contains 'Glossary' %} current-page-item {% endif %}">
            <a href="{{root_url}}/Glossary/index.html">Glossary</a>
          </li>
          <li class="nav-link">
            <a href="http://support.sendgrid.com/">Support</a>
          </li>
          <li class="nav-link visible-xs">
            <a href="https://sendgrid.com/contact" class="btn btn-success btn-block">Contact Us</a>
            <a href="https://sendgrid.com/free?mc=SendGrid%20Documentation" class="btn btn-primary btn-block logged-out">Free Account</a>
          </li>
        </ul>
      </div>
      <div class="pull-right navbar-buttons hidden-xs">
        <a href="https://sendgrid.com/contact" class="btn btn-success">Contact Us</a>
        <a href="https://sendgrid.com/free?mc=SendGrid%20Documentation" class="btn btn-primary logged-out">Free Account</a>
      </div>
    </div>
  </div>
</div>
