<div class='navbar' id='nav'>
  <div class='container-fluid'>
    <div class='row-fluid'>
      <ul class='nav' id='nav-links'>
        <li class="nav-link {% if page.title != 'API Workshop' %} current-page-item {% endif %}">
          <a href="{{ root_url }}/index.html">Docs Home</a>
        </li>
        <li class="nav-link {% if page.title == 'API Workshop' %} current-page-item {% endif %}">
          <a href="{{ root_url }}/api_workshop.html">API Workshop</a>
        </li>
        <li class="nav-link">
          <a href="http://community.sendgrid.com/sendgrid">Community</a>
        </li>
      </ul>
    </div>
  </div>
</div>

