<div class="navbar navbar-default" id="nav" data-swiftype-index='false'>
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header">
        <a href="//sendgrid.com"><span id="logo"></span></a>
        <button type="button" class="navbar-toggle collapsed" id="nav-icon"
          data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav" id="nav-links">
          <div id="js-sidebar-links"></div>
          <li class="nav-link hidden-sm {% if page.title == 'Docs Home' %} current-page-item {% endif %}">
            <a href="{{root_url}}/index.html">Docs Home</a>
          </li>
          <li class="nav-link {% if page.url contains 'Glossary' %} current-page-item {% endif %}">
            <a href="{{root_url}}/glossary/index.html">Glossary</a>
          </li>
          <li class="nav-link">
            <a href="http://support.sendgrid.com/">Support</a>
          </li>
          <li class="nav-link visible-sm">
            <a href="https://sendgrid.com/login">Log In</a>
          </li>
          <li class="nav-link visible-sm">
            <a href="https://sendgrid.com/free?mc=SendGrid%20Documentation">Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="pull-right navbar-buttons hidden-sm">
        <a href="https://sendgrid.com/pricing?mc=SendGrid%20Documentation" class="btn btn-small btn-secondary logged-out">Sign Up</a>
      </div>
    </div>
  </div>
</div>
