@font-face {
    font-family: 'roboto_slabthin';
    src: url('RobotoSlab-Thin-webfont.eot');
    src: url('RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Thin-webfont.woff') format('woff'),
         url('RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

