@font-face {
    font-family: "Proxima N W15 Light";
    src: url(http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_light.eot);
    src: url("http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_light.eot?#iefix") format("eot"),url(http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_light.woff) format("woff"),url(http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_light.ttf) format("truetype"),url("http://assets1.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_light.svg#proxima_nova_light") format("svg");
}
@font-face {
    font-family: "Proxima N W15 Reg";
    src: url(http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_regular.eot);
    src: url("http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_regular.eot?#iefix") format("eot"),url(http://assets4.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_regular.woff) format("woff"),url(http://assets4.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_regular.ttf) format("truetype"),url("http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_regular.svg#proxima_nova_regular") format("svg");
}
@font-face {
    font-family: "Proxima N W15 Smbd";
    src: url(http://assets4.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_semibold.eot);
    src: url("http://assets4.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_semibold.eot?#iefix") format("eot"),url(http://assets1.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_semibold.woff) format("woff"),url(http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_semibold.ttf) format("truetype"),url("http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_semibold.svg#proxima_nova_semibold") format("svg");
}
@font-face {
    font-family: "Proxima N W15 Cd Reg";
    src: url(http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_condensed_regular.eot);
    src: url("http://assets3.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_condensed_regular.eot?#iefix") format("eot"),url(http://assets4.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_condensed_regular.woff) format("woff"),url(http://assets1.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_condensed_regular.ttf) format("truetype"),url("http://assets2.sendgrid.com/mkt/assets/proxima_nova/proxima_nova_condensed_regular.svg#proxima_nova_condensed_regular") format("svg");
}
