// #copy-prompt {
// 	position: absolute;
// 	color: #fff;
// 	background-color: rgba(0,0,0,.6);
// 	font-size: 20px;
// 	border-radius: 10px;
// 	padding: 15px;
// 	margin-top: 20px;
// }

// code.wrap, code.requestdata {
//  white-space: pre-wrap;       /* css-3 */
//  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
//  white-space: -pre-wrap;      /* Opera 4-6 */
//  white-space: -o-pre-wrap;    /* Opera 7 */
//  word-wrap: break-word;       /* Internet Explorer 5.5+ */
//  display:inline-block;
//  max-width:580px;
// }

// .request-block {
// 	margin: 10px 0;
// }

// .request-block code {
//   display: inline-block;
//   white-space: normal;
//   word-break: break-word;
// }

// .request-block .requestdata {
// 	color: black;
// }

// .data-key {
// 	color: #2aa198;
// }

// .data-value {
// 	color: #859900;
// }

// body.logged-out .logged-in, body.logged-in .logged-out {
// 	display: none;
// }

// body.logged-out .logged-out, body.logged-in .logged-in {
// 	display: block;
// }

// body.logged-out .logged-out, body.logged-in .logged-in .btn {
// 	display: inline-block;
// }

// .tab-content {
// 	padding: 10px;
// 	border: 1px solid #DDD;
// 	margin-bottom: 10px;
//   border-top:0px;
//   background-color:white;
// }

// article .nav-tabs li a {
//   border-bottom:0px;
//   color: #555;
// }

// .collapsed-icon { color:white; font-size:36px; }

// .navbar-buttons { margin-right:30px }

// .nav-list [class^="icon-"] {
//   margin-right: 9px;
//   margin-top: 2px;
// }

// .home-list a:hover {
//   text-decoration:none;
// }

// .home-list .panel [class^="icon-"] {
//   font-size:36px;
// }

// .home-list .panel-highlight {
//   color: rgb(127, 228, 228);
// }

// .home-list .panel {
//   text-align:center;
//   padding-top:50px;
//   height:190px;
//   vertical-align:middle;
//   font-family: "Open Sans", sans-serif;
//   font-weight: 300;
//   overflow: hidden;
// }

// .home-list .panel:hover a {
//   color:white;
//   padding: 15px;
//   margin: -15px;
//   display: block;
//   height: 210px;
// }

// .home-list .panel h3 {
//   color: rgb(0,112,205);
//   font-family: "Open Sans", sans-serif;
//   font-weight: 300;
// }

// .home-list .panel:hover p {
//   display:block;
// }

// .home-list .panel p {
//   display:none;
// }

// .home-list .panel:hover [class^="icon-"] {
//   display:none;
// }

// .home-list .panel:hover h3 {
//   color:white;
//   margin:0px;
// }

// .home-list .panel:hover {
//   text-align:left;
//   padding:15px;
//   color:white;
//   background-color: rgb(0,112,205);
//   font-size: 14px;
//   text-decoration:none;
// }

// /* Responsive menu stuff */
// #header-wrap .navbar-inner {
// 	min-height:0;
// 	background: none;
// 	border: 0;
// 	box-shadow: 0 0 0;
// 	padding:0;
// }

// #header { width: 100%; }


// #header-wrap .btn-navbar {
// 	float:none;
// 	margin-top:13px;
// }

// .navbar-search {
//   background-color: rgb(30,36,47);
//   padding:30px 16px;
//   float:none;
// }

// .search-query {
// 	background-color: white;
// }

// .navbar-search  input { border-radius:0px; }
// .navbar-search  .btn { border-radius:0px; }

// #content {
//   overflow: auto;
// }

//   /*Opera Fix*/
// body:before {
// 	content:"";
// 	height:100%;
// 	float:left;
// 	width:0;
// 	margin-top:-32767px;/
// }

// .label, .badge { font-size: 15px; }

// .breadcrumb-pane {
//   font-size: 13px;
// }

// .breadcrumb {
//   float: left;
//   padding: 20px 0px 0px 0px;
//   margin: 0 0 10px;
// }

// .breadcrumb-pane .edit-link {
//   margin-top: 21px;
//   float: right;
// }

// .page-header {
//   margin: 0 0 30px 0;
// }

// li.official {
// 	list-style-type: none;
// 	background: url(../images/favicon.ico) left center no-repeat;
// 	padding: 0 24px;
// 	margin-left: -20px;
// }

// pre code {
//   white-space: pre;
// }

// figure.code.expanded {
//  position: fixed;
//  top:0;
//  left:0;
//  padding:60px 40px 40px 40px;
//  margin: 0;
//  z-index:100000;
// }

// .live-doc {
//   display: none;
// }

// .tryit, .cancel {
//   margin: 5px 10px 5px 0px;
// }

// .curl-call code {
//   display: inline-block;
//   white-space: normal;
//   word-break: break-word;
// }

// .clear-request {
//   width:131px;
// }

// .hljs {
//   max-width:624px;
// }
